[Desktop Entry]
Type=Application
Exec={{HOME}}/.local/bin/pamusb-unlock-keyring.sh
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name=USB Auth Keyring Unlock
Comment=Unlock GNOME Keyring using USB split-knowledge architecture
