MAIL_ACCOUNTS="personal"

MAIL_PERSONAL_NAME="Me Example"
MAIL_PERSONAL_ADDRESS="me@example.com"
MAIL_PERSONAL_IMAP_HOST="imap.example.com"
MAIL_PERSONAL_IMAP_PORT="993"
MAIL_PERSONAL_SMTP_HOST="smtp.example.com"
MAIL_PERSONAL_SMTP_PORT="587"
